<ul class="languages">
    <li *ngFor="let lang of languages; let idx = index" [class.selected]="lang === selectedLanguage" (click)="onSelect(lang)">{{lang}}</li>
</ul>
<div>
    <ul class="popular-list">
        <li class="popular-item" *ngFor="let repo of repos">
            <div class="popular-rank">#{{idx + 1}}</div>
            <ul class="space-list-items">
                <li>
                    <img class="avatar" src={{repo.owner.avatar_url}} />
                </li>
                <li>
                    <a href={{repo.html_url}}>{{repo.name}}</a>
                </li>
                <li>@{{repo.owner.login}}</li>
                <li>{{repo.stargazers_count}} stars</li>
            </ul>
        </li>
    </ul>
</div>