<ul class="languages">
    <li *ngFor="let lang of languages" [class.selected]="lang === selectedLanguage" (click)="onSelect(lang)">{{lang}}</li>
</ul>

<ul class="popular-list" *ngFor="let repo of repos">
    <li class="popular-item">
        <div class="popular-rank">#{{index + 1}}</div>
        <ul class="space-list-items">
            <li>
                <img class="avatar" src={{repo.owner.avatar_url}} />
            </li>
            <li>
                <a href={{repo.html_url}}>{{repo.name}}</a>
            </li>
            <li>@{{repo.owner.login}}</li>
            <li>{{repo.stargazers_count}} stars</li>
        </ul>
    </li>
</ul>